html {
  max-width: 70ch;
  padding: 1em 1em;
  margin: auto;
  line-height: 1.75;
  font-size: 1.25em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 1em 0 0.5em;
}

p,
ul,
ol,
label,
.input {
  margin-bottom: 0.5em;
  color: #1d1d1d;
  font-family: sans-serif;
}

input[type="range"],
.input img {
  width: 250px;
}

input[type="submit"] {
  width: 3em;
  height: 1.5em;
  font-size: 1.5em;
}
